In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("fivethirtyeight")
import seaborn as sns
sns.set_style("darkgrid")
import datetime as dt
import pandas_datareader.data as web

In [28]:
# dividends = web.DataReader('IBM', 'yahoo-dividends', start, end)
# play with time delta

In [33]:
start = dt.datetime(end.year-1, end.month, end.day)
end = dt.datetime.today()

# jpm.columns
# jp morgan
jpm = web.DataReader("JPM", "yahoo", start,end)
# goldman sachs
gs = web.DataReader("GS", "yahoo", start, end)
# morgan stanley
ms = web.DataReader("MS", "yahoo", start, end)
# citi
c = web.DataReader("C", "yahoo", start, end)
# bank of america
bac = web.DataReader("BAC", "yahoo", start, end)
# hsbc
hsbc = web.DataReader("HSBC", "yahoo", start, end)
# wells fargo
wfc = web.DataReader("WFC", "yahoo", start, end)
# mizuho
tyo = web.DataReader("TYO", "yahoo", start, end)
# RBC capital markets
ry = web.DataReader("RY", "yahoo", start, end)

In [34]:
jpm

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-08-05,110.980003,108.269997,110.790001,109.570000,15855300.0,102.937241
2019-08-06,110.500000,108.339996,110.050003,110.430000,10203500.0,103.745186
2019-08-07,108.279999,105.940002,108.000000,108.029999,17320900.0,101.490463
2019-08-08,110.080002,108.720001,109.050003,109.860001,10903300.0,103.209686
2019-08-09,110.449997,108.290001,109.349998,109.739998,9980800.0,103.096947
...,...,...,...,...,...,...
2021-07-28,152.770004,150.880005,152.289993,151.699997,9217300.0,151.699997
2021-07-29,153.869995,151.910004,153.139999,153.000000,9063500.0,153.000000
2021-07-30,153.669998,151.199997,152.580002,151.779999,9804600.0,151.779999
2021-08-02,154.449997,151.070007,152.029999,151.169998,10203200.0,151.169998
2021-08-03,153.320007,149.520004,151.949997,152.889999,10386600.0,152.889999